import

url
(
'https://fonts.googleapis.com/css2?family=Fondamento:ital@0;1&display=swap'
)
;


.navbar.navbar-light.bg-light {
    background-color: #DAF0EE !important;


    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}


.card {
    box-shadow: rgba(0, 0, 0, 0.06) 0px 3px 1px, rgba(0, 0, 0, 0.09) 0px 6px 2px, rgba(0, 0, 0, 0.09) 0px 9px 3px, rgba(0, 0, 0, 0.09) 0px 12px 4px, rgba(0, 0, 0, 0.09) 0px 15px 5px;
    border-radius: 9px;
    border: none;

    /*box-shadow: rgba(0, 0, 0, 0.27) -4px 15px 20px 7px,rgba(0, 0, 0, 0.11) 2px 1px 0px;*/
    /*border-radius: 7px;*/
    /*border: none;*/


    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;


}

.card-img-top {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;


}


.navbar-brand {
    font-family: "Fondamento", cursive;
    font-weight: 400;
    font-style: normal;
}

.navbar .navbar-brand {
    color: #115C4B;
}

.navbar .navbar-brand:hover {
    color: #1FA687;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Espaça os itens da navbar */
}


.form-inline-container {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-end;
}


.button-group {
    display: flex;
    margin-right: 22%; /* Cenrtalizei */
}

.button-group .btn {
    /* width: 90px; */
    width: auto;
    text-align: center;
    color: #115C4B;
    background-color: #DAF0EE;

    border: none;
    font-family: "Fondamento", cursive;
    font-weight: 400;
    font-style: normal;
}

.btn-outline-success {
    text-align: center;
    color: #115C4B;
    background-color: #DAF0EE;

    border: none;
    font-family: "Fondamento", cursive;
    font-weight: 400;
    font-style: normal;
}

.button-group .btn:hover {
    font-size: 18px;
    color: #1FA687;

}

.btn-outline-success:hover {
    font-size: 18px;
    color: #1FA687;
    background-color: #DAF0EE;
    border: none;
}


.form-inline {
    margin-left: 10px;
}


.form-inline input[type="search"] {
    margin-right: 5px;
}

.text-body {
    font-family: "Fondamento", cursive;
    font-weight: 400;
    font-style: normal;

}
