body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: url("static/images/centauri.jpg") no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar .form-inline .btn {
    background: rgba(0, 191, 255, 0.9);
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: background 0.3s, transform 0.3s;
}

.navbar .form-inline .btn:hover {
    background: rgba(0, 191, 255, 1);
    transform: translateY(-2px);
}

.container {
    margin-top: 20px;
}

.card {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: none;
}

.card-footer {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    border: none;

}

.btn-outline-success {
    border: 1px solid rgba(0, 191, 255, 0.8);
    color: rgba(0, 191, 255, 0.9);
    background: transparent;
    border-radius: 5px;
    transition: background 0.3s, transform 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.btn-outline-success:hover {
    background: rgba(0, 191, 255, 0.3);
    transform: translateY(-2px);
}

.modal-content {
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(10px);
}